/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2015-1-5, 4:20:08
    Author     : iliyan
*/

body {
    font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
}

.h1, h1 {
    font-size: 36px;
}

#main-container {
    min-height: 90%;
}

@media (max-width: 480px) {
    #main-container {
        min-height: 0px;
    }
}

ul.nav.navbar-nav > li > a:hover,
ul.nav.navbar-nav > li > a.active,
ul.nav.navbar-nav > li > a:active {
    outline: none;
    background-color: #EEEEEE !important;
}

.disable-responsiveness.container {
    width: 970px !important;
}

#navbar {
    color: #555;
    background: #fff;
    margin: 0;
    border-bottom: 2px solid #dce0d9;
    padding: 0.2em 0 0 0;
    display: block;
}

#navbar a {
    display: inline-block;
    text-transform: uppercase;
    color: #5F6657;
    font-size: 1.0625em;
    border-bottom: 1px solid transparent;
    position: relative;
    left: 1px;
}

a:hover {
    color: #219ab3;
}

@media (min-width: 767px) {
    #navbar li a:hover, #navbar li a:active, #navbar li a.active {
        border-bottom: 2px solid #2ACA15;
        margin-bottom: -2px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 18px;
        font-size: 5.9vw;
    }
    h2 {
        font-size: 16px;
        font-size: 3.5vw;
    }
    h3 {
        font-size: 14px;
        font-size: 3.3vw;
    }
    h4 {
        font-size: 13px;
        font-size: 3vw;
    }
    p, a {
        font-size: 13px;
        font-size: 3vw;
    }
    li {
        font-size: 13px;
        font-size: 3vw;
    }
}

.iframe-content {
    height: 585px;
    background: url('/images/mobile-banner.png') top center no-repeat;
}

.iframe-small, .iframe-small body{
    width: 567px;
    height: 368px;
    padding-top: 49px;
    padding-left: 57px;
    border: none;
}
/* Sticky footer start */
html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    padding: 0 0 100px;
}

#footer {
    /*height: 60px;*/
    background-color: #f5f5f5;
}
/* Sticky footer end */

.footer-container {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid rgb(220, 224, 217);
}

.footer-container a {
    margin-right: 10px;
    padding: 5px;
    color: #000;
}

.btn-group-horizontal .btn {
    margin-bottom: 15px;
}

.toggle-text {
    padding-left: 30px;
    height: 40px;
    overflow: hidden;
    list-style-position: inside;
}

.about-us-container .about-us-details {
    background: #374852;
    color: #fff;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-us-container .about-heading {
  border-bottom: solid 2px #FE0000;
  font-size: 20px;
  text-indent: 15px;
}

.about-us-container .row {
    margin-top: 20px;
}

.about-us-container .row .person-info-container {
    margin-top: 25px;
    padding-bottom: 15px;
}

.about-us-container .row .person-info-container .social-icon {
    margin-left: 15px;
    display: inline-block;
}

.about-us-container .row .person-info-container .person-description {
    margin: 20px 0;
}

.about-us-container .person-info-container .person-name {
    font-weight: bold;
    padding: 10px 0 0 0;
}

.home-container .home-presentation  h2 {
    margin-bottom: 35px;
}

.home-container .thumbnail.thumbnail-home {
    border: none;
}

.home-container .carousel-control {
    width: 10%;
}

.devider {
    margin-top: 27px;
}

.deviders {
    margin: 30px 0;
}

.home-container .bottom-border {
    border-bottom: dashed 2px #74747E;
}

.home-container .thumbnail.thumbnail-process {
    border: none;
    padding:0px;
    margin-bottom: 0px;
}

.home-container .thumbnail.thumbnail-process .caption {
    margin-bottom: 0px;
    padding: 0px 5px 15px 0px;
}

.home-container .our-process .process-step {
    border-left: none;
}

@media (min-width: 768px) {
    .home-container .our-process .process-step {
        border-left: solid 2px #74747E;
        margin-top: -12px;
    }
}

.home-container .our-process .fa-dot-circle-o {
    color: #74747E;
    margin-bottom: -2px;
}

.home-container .our-process .fa-dot-circle-o.pull-left {
    margin-left: -2px;
}

.home-container .our-process .fa-dot-circle-o.pull-right {
    margin-right: -2px;
}

#world_map {
    background: #fff url("../images/contacts/world_map.png") no-repeat left top;
}

.angular-google-map-container {
    height: 500px;
}