/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2015-1-5, 4:20:08
    Author     : iliyan
*/

body {
    font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
}

#main-container {
    min-height: 90%;
}

@media (max-width: 480px) {
    #main-container {
        min-height: 0px;
    }
}

ul.nav.navbar-nav > li > a:hover,
ul.nav.navbar-nav > li > a.active,
ul.nav.navbar-nav > li > a:active {
    outline: none;
    background-color: #EEEEEE !important;
}

.disable-responsiveness.container {
    width: 970px !important;
}

#navbar {
    color: #555;
    background: #fff;
    margin: 0;
    border-bottom: 2px solid #dce0d9;
    padding: 1em 0 0;
    display: block;
}

#navbar a {
    display: inline-block;
    text-transform: uppercase;
    color: #5F6657;
    font-size: 1.0625em;
    border-bottom: 1px solid transparent;
    position: relative;
    left: 1px;
}

a:hover {
    color: #219ab3;
}

#navbar li a:hover, #navbar li a:active, #navbar li a.active  {
    border-bottom: 2px solid #2ACA15;
    margin-bottom: -2px;
}

.iframe-content {
    height: 585px;
    background: url('/images/mobile-banner.png') top center no-repeat;
}

.iframe-small {
    width: 271px;
    height: 531px;
    padding-top: 54px;
    border: none;
    overflow: scroll;
}
/* Sticky footer start */
html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    padding: 0 0 100px;
}

#footer {
    /*height: 60px;*/
    background-color: #f5f5f5;
}
/* Sticky footer end */

.footer-container {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid rgb(220, 224, 217);
}

.footer-container a {
    margin-right: 10px;
    padding: 5px;
    color: #000;
}

.btn-group-horizontal .btn {
    margin-bottom: 15px;
}

