<div class="home-container" data-ng-controller="Home as vm">
    <div class="video-container">
        <video autoplay loop width="100%">
            <source src="../../images/home/typing_video.mp4" type="video/mp4"/>
        </video>
        <h1 class="text-left main-heading hide">Softologic is a digital product development studio</h1>

        <h2 class="text-left sub-heading hide">Our passion is turning great business ideas into
            competitive websites
            and software</h2>
    </div>
    <div class="container home-presentation">
        <h3 class="text-center">Strategic solutions</h3>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center" ng-repeat="service in vm.ourServices">
            <div class="thumbnail thumbnail-home">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-12">
                        <a class="service-url" ng-href="{{service.url}}" role="button">
                            <img class="img-responsive" ng-src="{{service.image}}" alt="{{service.altText}}">
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <div class="caption">
                            <h3>{{service.title}}</h3>

                            <p class="text-justify">{{service.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center">
            Our mission is to support entrepreneurs and social innovators for rapid and sustainable business growth.
        </h3>
    </div>
    <div class="container our-process">
        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix bottom-border">
                    <h2 class="text-center"><strong>Work values</strong></h2>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center"
                         ng-repeat="step in vm.processSteps track by $index">
                        <div class="thumbnail thumbnail-process">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <div class="work-values {{step.popoverCss}}" data-popover-append-to-body="true"
                                         data-popover-trigger="mouseenter" title="{{step.title}}"
                                         data-popover-title="{{step.title}}" data-popover="{{step.description}}"></div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-4 process-step">
                                    <div class="caption {{step.captionCss}}">
                                        <h3>{{step.title}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <i class="fa fa-dot-circle-o pull-left"></i>
                <i class="fa fa-dot-circle-o pull-right"></i>
            </div>
        </div>
    </div>
    
    <div class="services-container" id="services-container">
    <!--<img class="img-responsive center-block" src="../../images/services/services_image.jpg"/>-->

        <div class="container">
            <div class="row">
                <div class="text-center">
                    <p class="h1">We believe that the excellence comes from the smallest details</p>

                    <div class="page-header">
                        <h2>Dedicated solutions<br/>
                            <small>Our passion is to support the young entrepreneurs and newly appearing startup companies
                            </small>
                        </h2>
                    </div>
                </div>
                <div class="col-xs-12">
                    <img class="img-responsive deviders" src="../../images/services/devider.png" alt="divider">
                </div>
                <div class="col-xs-12 services">
                    <div class="start-up heading">
                        <p class="h1 text-left" id="start-up">STARTUP / from 500 &euro; /</p>
                    </div>
                    <div class="jumbotron start-up-container">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><i class="glyphicon glyphicon-chevron-right"></i>
                                    <a href="/technologies#responsive-design">GO mobile - Responsive Design</a></p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>CMS - Wordpress</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>eCommecre</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Webstore</p><br/>
                            </div>
                            <div class="col-xs-6">
                                <p><i class="glyphicon glyphicon-chevron-right"></i>SEO</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Blog</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Website set up help</p>
                            </div>
                        </div>
                    </div>
                    <button class="services-btn start-up-btn text-uppercase pull-right col-xs-12 col-sm-6 col-lg-4"
                            data-toggle="modal" data-target="#contact">
                        Get in touch
                    </button>
                </div>
                <div class="col-xs-12">
                    <img class="img-responsive deviders" src="../../images/services/devider.png" alt="divider">
                </div>
                <div class="col-xs-12 services">
                    <div class="web-development heading">
                        <p class="h1 text-left" id="web-development">WEB DEVELOPMENT</p>
                    </div>
                    <div class="jumbotron web-development-container">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><i class="glyphicon glyphicon-chevron-right"></i>REST API</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Latest Frameworks</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>
                                    <a href="/technologies#one-page-app" role="button">Onepage Application</a></p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>
                                    <a href="/technologies#mobile-apps" role="button">Mobile Application</a></p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>
                                    <a href="/technologies#agile-development" role="button">Fast and reliable</a></p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>
                                    <a href="/technologies#digital-strategy" role="button">Fully customizable by the
                                        client</a></p><br/>
                            </div>
                            <div class="col-xs-6">
                                <p><i class="glyphicon glyphicon-chevron-right"></i>Long term development and support</p>
                                <br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Ecommerce Application Development</p>
                                <br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Payment Gateway Integration</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>B2B, B2C, C2C Websites</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Website application development</p>
                            </div>
                        </div>
                    </div>
                    <button class="services-btn web-development-btn text-uppercase pull-right col-xs-12 col-sm-6 col-lg-4"
                            data-toggle="modal" data-target="#contact">
                        Get in touch
                    </button>
                </div>
                <div class="col-xs-12">
                    <img class="img-responsive deviders" src="../../images/services/devider.png" alt="divider">
                </div>
                <div class="col-xs-12 services">
                    <div class="design heading">
                        <p class="h1 text-left" id="design">WEB DESIGN</p>
                    </div>
                    <div class="jumbotron design-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <p><i class="glyphicon glyphicon-chevron-right"></i>Business cards</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Company logo</p><br/>

                                <p><i class="glyphicon glyphicon-chevron-right"></i>Custom Web Design</p>
                            </div>
                        </div>
                    </div>
                    <button class="services-btn design-btn text-uppercase pull-right col-xs-12 col-sm-6 col-lg-4"
                            data-toggle="modal" data-target="#contact">
                        Get in touch
                    </button>
                </div>

                <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Contact us</h4>
                            </div>

                            <div class="modal-body">
                                <contact-form></contact-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 3000
        });
    });
</script>

