<div ng-controller="Demonstrations as vm">
    <div class="row pt-100">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>{{vm.welcomeText}}</h2>
            <div class="list-group text-right" style="color: #000;">
                <p class="list-group-item active">
                    Use the ON/OFF buttons to enable or disable given technology
                </p>
                <div class="list-group-item">
                    <label>Responsive Design</label>
                    <label class="btn btn-primary" ng-class="{'btn-success': vm.responsiveDesignState == true}" ng-click="vm.responsiveDesign(true)" ng-model="vm.responsiveDesignState" btn-radio="'true'">On</label>
                    <label class="btn btn-primary" ng-class="{'btn-success': vm.responsiveDesignState == false}" ng-click="vm.responsiveDesign(false)" ng-model="vm.responsiveDesignState" btn-radio="'false'">Off</label>
                </div>
                <div class="list-group-item">
                    <label>OnePage App</label>
                    <label class="btn btn-primary" ng-class="{'btn-success': vm.onePageAppState == true}" ng-click="vm.onePageApp(true)" ng-model="vm.onePageAppState" btn-radio="'true'">On</label>
                    <label class="btn btn-primary" ng-class="{'btn-success': vm.onePageAppState == false}" ng-click="vm.onePageApp(false)" ng-model="vm.onePageAppState" btn-radio="'false'">Off</label>
                </div>
            </div>
        </div>
    </div>
</div>
